
h1 {
	margin-top: 65px;
	float: left ;
	background-color: white;
}

body{
	margin: 0 auto ;

	margin-bottom: 600px ;
	min-width: 700px ;
	width : 800px ;
	background-color: grey;
	border-radius: 20px 20px 20px 20px;
	overflow: auto;
}
header{
	clear: left ;
	white-space:nowrap;
	position:relative;
	background-color: white;
	border-radius: 20px 20px 20px 20px;
}
.logo{ 
	float: left ;
	background-color: white;
	border-radius: 20px;
}

.nav{
	clear: left ;
	width:100%;
	position: relative;
	left:300px ;
	background-color: white;
	text-align: color blue;
	white-space:nowrap;
}
.nav li{
    float:left;
	position: relative;
	margin-right:10px; 
    display: block;
	background-color: white ;
	right: 30px;
}
.nav li a{
	color: blue;
	background-color: white ;
}
.nav ul.vipad li a{ 
	color: blue;
	padding:0px;
}
.nav li a:hover{
	color: blue;
	position: relative;
    background-color: white;
}

.nav ul{
    position:absolute;
    left:-9999px; 
	color: white;
	padding-top: 5px;
	background-color: white;
}

.nav li:hover ul{ 
	position: absolute; 
	left: 0; 
	border: 1px solid black;
	border-radius: 10px 10px 10px 10px ;
	right: 30px;
	display: block;
}

.centr2{
	text-align: justify ;
	background-color: white;
	margin-top: 0px; 
	margin-bottom: 0px ;
	padding-top: 20px;
	padding-bottom: 20px;	
	border-radius: 15px 15px 15px 15px ;
}
.text1{	
	background-color: white;
	text-align: justify ;
	padding: 10px ;
	border-radius: 15px 15px 15px 15px ;
}
.txt2{
	border:1px solid white;
	width: 300px;
	height:670px;
	float: right ;
	padding: 5px ;
	margin-top: 30px; 
	margin-right:10px;
	background-color: silver;
	border-radius: 15px 15px 15px 15px;
}

.calc{
	padding-left: 30%;
	padding-top: 80px;
	padding-bottom: 30px;
	border: 0px ;
	border-radius: 15px 15px 15px 15px;
	background-color: white ;
}
button{
	width: 70px ; 
	height: 30px;
}
.but2{
	width: 100% ; 
	height: 30px;
}
.but3{
	width: 100% ; 
	height: 70px;
}
.in {
	width: 98% ; 
}
footer{
	text-align: center ;
	background-color: white;
	border-radius: 15px 15px 15px 15px;
}