
h1 {
	margin-top: 65px;
	float: left ;
	text-align: center ;
	background-color: white;
}

body{
	margin-left: 200px ;
	margin-right: 200px;
	margin-top: 50px;
	margin-bottom: 600px ;
	background-color: grey;
	border-radius: 20px 20px 20px 20px;
}
header{
	clear: left ;
	white-space:nowrap;
	text-align:center ;
	background-color: white;
	border-radius: 20px 20px 20px 20px;
}
.logo{ 
	float: left ;
	background-color: white;
	border-radius: 20px;
}
.nav{
	clear: left ;
	position: relative; left:30% ;
	white-space:nowrap;
	position: relative;
	text-align:center ;
	background-color: white;
}
.nav li{
    float:left;
	margin-right:10px; 
	position:relative;
    display:block;
}
.nav li a{
    text-align:center ;
	padding:2px;
    color: blue;       
}
.nav li a:hover{
    color: blue;
    background-color: white;
	border-radius: 5px 5px 5px 5px;
} 

.nav ul{
    list-style:none;
    position:absolute;
    left:-9999px; 
}

.nav li:hover ul{ 
    left:0; 
    opacity:1;
}
.nav li:hover a{
    background:white;
}

.nav li:hover .vipad li a:hover{
    background:white; 
	padding-top:1px;
	border: 1px solid black;
	border-radius: 15px 15px 15px 15px ;
}
.centr2{
	text-align: justify ;
	background-color: white;
	margin-top: 0px; 
	margin-bottom: 0px ; 
	border-radius: 15px 15px 15px 15px ;
}
.text1{	
	background-color: white;
	text-align: justify ;
	padding: 10px ;
	border-radius: 15px 15px 15px 15px ;
}
.txt2{
	border:1px solid white;
	width:300px;
	height:600px;
	float: right ;
	padding: 5px ;
	margin-top: 30px; 
	margin-right:10px;
	background-color: silver;
	border-radius: 15px 15px 15px 15px;
}

.calc{
	position:relative; center ;
	border-spacing: 5px 10px; 
	background-color: white;
	padding-right:380px;
	padding-left:380px;
	border-radius: 15px 15px 15px 15px;
}

footer{
	text-align: center ;
	background-color: white;
	border-radius: 15px 15px 15px 15px;
}